@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-bgImg-container {
  height: 120vh;
  width: 100%;
  background: url("../../img/bg-2.png");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__bio-image {
  text-align: center;
}
.about__bio-image h2 {
  font-size: 3rem;
  color: rgb(45, 17, 32);
}
.about__bio-image p {
  color: rgb(225, 23, 127);
  font-weight: 500;
  font-size: 1.5rem;
}

.about__container {
  width: 120vh;
  margin: 2rem auto;
}
.about .about__job {
  margin: 1rem;
  color: white;
  background-color: #485656;
  border-bottom: 3px solid rgb(225, 23, 127);
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.contact-bgImg-container {
  height: 150vh;
  width: 100%;
  background: url("../../img/bg-6.jpg");
  background-position: center center;
  background-size: cover;
}
.contact-bgImg-container nav {
  height: 40vh;
}

.contact {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(45, 17, 32);
}
.contact__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.5rem;
  gap: 2rem 2rem;
  justify-content: center;
}
.contact .text-secondary {
  color: rgb(225, 23, 127);
}

.home-bgImg-container {
  height: 130vh;
  width: 100%;
  background: url("../img/bg1.jpg");
  background-position: center center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}
.home__name {
  border-bottom: 3px solid rgb(225, 23, 127);
}
.home__name--last {
  color: rgb(225, 23, 127);
  font-size: 5rem;
}

.project-bgImg-container {
  height: 100vh;
  width: 100%;
  background: url("../../img/bg-7.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: aliceblue;
  text-align: center;
  font-size: 2rem;
}
.project-bgImg-container .project__bio-image {
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 1rem 0;
}
.projects__item {
  width: 33%;
  border-bottom: 5px solid rgb(225, 23, 127);
  position: relative;
}
.projects__item img {
  width: 100%;
  height: 20rem;
}
.projects__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(225, 23, 127);
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.projects__item:hover::after {
  opacity: 0.5;
}

.link-style a, footer.middle a, footer.vertical .social-icons a, footer.horizontal a {
  padding: 0.4rem;
  color: rgb(45, 17, 32);
  transition: all 1s;
}
.link-style a:hover, footer.middle a:hover, footer.vertical .social-icons a:hover, footer.horizontal a:hover {
  color: rgb(225, 23, 127);
}

.copyright {
  color: rgb(225, 23, 127);
}

footer.horizontal {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

footer.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}
footer.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
footer.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  writing-mode: vertical-lr;
}
footer.vertical i {
  color: aliceblue;
}

footer.middle {
  height: 10vh;
  display: flex;
  padding: 3rem 3rem;
  gap: 1rem;
}

.nav {
  height: 10vh;
  padding: 1rem;
}
.nav__list {
  text-align: right;
}
.nav__item {
  display: inline;
  padding: 1rem;
}
.nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(49, 58, 58);
  font-weight: 500;
  transition: all 1s;
}
.nav__link:hover {
  color: beige;
  background-color: rgb(45, 17, 32);
  border-radius: 0.5rem;
  padding: 0.2rem;
}
.nav__link--active {
  color: rgb(225, 23, 127);
}

@media (max-width: 375px) {
  .nav {
    padding: 0.2rem;
  }
  .nav__list {
    text-align: center;
  }
  .nav__item {
    padding-right: 0.7rem;
  }
  .nav .nav__link {
    font-size: 0.7rem;
    color: white;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact__list {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 0.5rem;
  }
  .projects__item {
    width: 100%;
  }
  .about__bio-image p {
    border: 2px solid white;
    width: 70%;
    height: 20rem;
    overflow: auto;
    margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__job {
    width: 40%;
    height: 30rem;
    margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__job.p {
    width: 40%;
    height: 50rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .nav {
    padding: 0.2rem;
    display: flex;
    justify-content: start;
  }
  .nav__list {
    text-align: center;
  }
  .nav__item {
    padding-right: 0.7rem;
  }
  .nav .nav__link {
    font-size: 0.7rem;
    color: white;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact__list {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 0.5rem;
  }
  .projects__item {
    width: 100%;
  }
  .about__bio-image p {
    border: 2px solid white;
    width: 60%;
    height: 20rem;
    overflow: auto;
    margin: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__job {
    width: 35%;
    height: 30rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 2px solid white;
  }
  .about__job.p {
    width: 35%;
    height: 50rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 0.2rem;
    display: flex;
    justify-content: start;
  }
  .nav__list {
    text-align: center;
  }
  .nav__item {
    padding-right: 0.7rem;
  }
  .nav .nav__link {
    font-size: 0.7rem;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact__list {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
  .social-icons,
  .copyright {
    font-size: 0.5rem;
  }
  .projects__item {
    width: 100%;
  }
  .about__bio-image {
    width: 100%;
    height: 10rem;
    overflow: auto;
    margin-top: 10rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about__job {
    width: 60%;
    height: 15rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 2px solid white;
  }
  .about__job.p {
    width: 60%;
    height: 22rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .projects__item {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    padding: 0.2rem;
    display: flex;
    justify-content: start;
  }
  .nav__list {
    text-align: center;
  }
  .nav__item {
    padding-right: 0.7rem;
  }
  .nav .nav__link {
    font-size: 1.8rem;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact__list {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .projects__item {
    width: 100%;
  }
  .about__bio-image {
    height: 10rem;
    overflow: auto;
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about__job {
    width: 100%;
    height: 15rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 2px solid white;
  }
  .about__container {
    width: 80%;
  }
  .about__job.p {
    width: 100%;
    height: 22rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .projects__item {
    width: 33%;
  }
}
@media screen and (max-width: 1600px) {
  .nav {
    padding: 0.2rem;
    display: flex;
    justify-content: end;
  }
  .nav__list {
    text-align: center;
  }
  .nav__item {
    padding-right: 0.7rem;
  }
  .nav .nav__link {
    font-size: 1.8rem;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact__list {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
  .projects__item {
    width: 100%;
  }
  .about__bio-image {
    height: 10rem;
    overflow: auto;
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about__job {
    width: 100%;
    height: 11rem;
    font-size: 1rem;
    line-height: 1rem;
    border: 2px solid white;
  }
  .about__container {
    width: 80%;
  }
  .about__job.p {
    width: 100%;
    height: 16rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .projects__item {
    width: 16%;
  }
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 3rem;
  color: rgb(52, 51, 51);
  height: 100vh;
  background-color: rgb(49, 58, 58);
  background-attachment: fixed;
}

h1, h2, h3 {
  font-weight: 900;
}

/*# sourceMappingURL=main.css.map */
