// //*****************************************************
// //*   RESPONSIVE
// //*****************************************************

@include media-xsm {
  .nav {
    padding: 0.2rem;

    &__list {
      text-align: center;
      //     display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
    }
    &__item {
      padding-right: 0.7rem;
    }
    .nav__link {
      font-size: 0.7rem;
      color: white;
    }
  }
  .contact {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__list {
      gap: 2rem 1.2rem;
      font-size: 1.2rem;
    }
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 0.5rem;
  }
  .projects__item {
    width: 100%;
  }
  .about__bio-image p {
    border: 2px solid white;
    width: 70%;
    height: 20rem;
    overflow: auto;
    margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__job {
    width: 40%;
    height: 30rem;
    margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__job.p{
    width: 40%;
    height: 50rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
 }
@include media-sm {
    .nav {
      padding: 0.2rem;
      display: flex;
      justify-content: start;
  
      &__list {
        text-align: center;
        //     display: flex;
        //   flex-direction: column;
        //   align-items: flex-start;
      }
      &__item {
        padding-right: 0.7rem;
      }
      .nav__link {
        font-size: 0.7rem;
        color: white;
      }
    }
    .contact {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      &__list {
        gap: 2rem 1.2rem;
        font-size: 1.2rem;
      }
    }
    .social-icons,
    .copyright {
      margin: 1rem 0;
      font-size: 0.5rem;
    }
    .projects__item {
      width: 100%;
    }
    .about__bio-image p {
      border: 2px solid white;
      width: 60%;
      height: 20rem;
      overflow: auto;
      margin: 1rem;
      font-size: 1rem;
      line-height: 1rem;
    }
    .about__job {
      width: 35%;
      height: 30rem;
    //   margin-left: 4rem;
      font-size: 1rem;
      line-height: 1rem;
    //   margin: 0 1rem;
    border: 2px solid white;

    }
    .about__job.p{
      width: 35%;
      height: 50rem;
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1rem;

      
    }
  }
@include media-md {
    .nav {
      padding: 0.2rem;
      display: flex;
      justify-content: start;
  
      &__list {
        text-align: center;
        //     display: flex;
        //   flex-direction: column;
        //   align-items: flex-start;
      }
      &__item {
        padding-right: 0.7rem;
      }
      .nav__link {
        font-size: 0.7rem;
        // color: white;
      }
    }
    .contact {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      &__list {
        gap: 2rem 1.2rem;
        font-size: 1.2rem;
      }
    }
    .social-icons,
    .copyright {
    //   margin: 1rem 0;
      font-size: 0.5rem;
    }
    .projects__item {
      width: 100%;
    }
    .about__bio-image {
    //   border: 2px solid white;
      width: 100%;
      height: 10rem;
      overflow: auto;
      margin-top: 10rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .about__job {
      width: 60%;
      height: 15rem;
    //   margin-left: 4rem;
      font-size: 1rem;
      line-height: 1rem;
    //   margin: 0 1rem;
    border: 2px solid white;

    }
    .about__job.p{
      width: 60%;
      height: 22rem;
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1rem;

      
    }
    .projects__item{
        width: 50%;
    }
  }
@include media-lg {
    .nav {
      padding: 0.2rem;
      display: flex;
      justify-content: start;
      
  
      &__list {
        text-align: center;
        //     display: flex;
        //   flex-direction: column;
        //   align-items: flex-start;
      }
      &__item {
        padding-right: 0.7rem;
      }
      .nav__link {
        font-size: 1.8rem;
        // color: white;
      }
    }
    .contact {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      &__list {
        gap: 2rem 1.2rem;
        font-size: 1.2rem;
      }
    }
    .social-icons,
    .copyright {
      margin: 1rem 0;
      font-size: 1rem;
    }
    .projects__item {
      width: 100%;
    }
    .about__bio-image {
    //   border: 2px solid white;
    //   width: 90%;
      height: 10rem;
      overflow: auto;
      margin-top: 10rem;
      margin-left: 4rem;
      margin-right: 4rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .about__job {
      width: 100%;
      height: 15rem;
    //   margin-left: 4rem;
      font-size: 1rem;
      line-height: 1rem;
    //   margin: 0 1rem;
    border: 2px solid white;

    }
    .about__container{
        width: 80%;
    }
    .about__job.p{
      width: 100%;
      height: 22rem;
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1rem;

      
    }
    .projects__item{
        width: 33%;
    }
  }
@include media-xl {
    .nav {
      padding: 0.2rem;
      display: flex;
      justify-content:end;
      
  
      &__list {
        text-align: center;
        //     display: flex;
        //   flex-direction: column;
        //   align-items: flex-start;
      }
      &__item {
        padding-right: 0.7rem;
      }
      .nav__link {
        font-size: 1.8rem;
        // color: white;
      }
    }
    .contact {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      &__list {
        gap: 2rem 1.2rem;
        font-size: 1.2rem;
      }
    }


    .projects__item {
      width: 100%;
    }
    .about__bio-image {
    //   border: 2px solid white;
    //   width: 90%;
      height: 10rem;
      overflow: auto;
      margin-top: 10rem;
      margin-left: 4rem;
      margin-right: 4rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .about__job {
      width: 100%;
      height: 11rem;
    //   margin-left: 4rem;
      font-size: 1rem;
      line-height: 1rem;
    //   margin: 0 1rem;
    border: 2px solid white;

    }
    .about__container{
        width: 80%;
    }
    .about__job.p{
      width: 100%;
      height: 16rem;
      margin-left: 1rem;
      font-size: 1rem;
      line-height: 1rem;

      
    }
    .projects__item{
        width: 16%;
    }
  }

//

// @include media-lg {
//   .nav {
//     &__item {
//       padding-right: 1.5rem;
//     }
//     .nav__link {
//       font-size: 1.5rem;
//     }
//   }

//   .projects__item {
//     width: 50%;
//   }
//   .contact__list {
//     flex-direction: row;
//   }
// }

// @include media-xl {
//   .projects__item {
//     width: 33%;
//   }
// }
