// //*****************************************************
// //*   RESPONSIVE
// //*****************************************************

@include media-xsm {
  .nav {
    padding: 0.2rem;

    &__list {
      text-align: center;
    }
    &__item {
      padding-right: 0.7rem;
    }
    .nav__link {
      font-size: 0.7rem;
      color: rgb(159, 147, 147);
    }
  }
  .contact {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__list {
      gap: 2rem 1.2rem;
      font-size: 1.2rem;
    }
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 0.5rem;
  }
 
  .projects__item {
    width: 100%;
  }
  .about__bio-image p {
    border: 2px solid white;
    width: 70%;
    height: 20rem;
    overflow: auto;
    margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    // border: 2px solid white;
  }
  .about__job {
    width: 80%;
    height: 15rem;
    // margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
    //   margin: 0 1rem;
    overflow: auto;
    border: 2px solid white;
  }

}
@include media-sm {
  .nav {
    padding: 0.2rem;
    
    &__list {
      text-align: center;
      //     display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
    }
    &__item {
      padding-right: 0.7rem;
    }
    .nav__link {
      font-size: 0.7rem;
      color: rgb(159, 150, 150);
    }
  }
  .contact {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__list {
      gap: 2rem 1.2rem;
      font-size: 1.2rem;
    }
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 0.5rem;
  }
  .projects__item {
    width: 50%;
  }
  .about__bio-image p {
    border: 2px solid white;
    width: 90%;
    height: 10rem;
    overflow: auto;
    // margin: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .about__job {
    width: 80%;
    height: 18rem;
    // margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
    //   margin: 0 1rem;
    overflow: auto;
    border: 2px solid white;
  }
  // .about__job.p{
  //   width: 80%;
  //   height: 70rem;
  //   margin-left: 1rem;
  //   font-size: 1rem;
  //   line-height: 1.5rem;

  // }
}
@include media-md {
  body {
    width: 100%;
  }
  .nav {
    padding: 0.2rem;
    

    &__list {
      text-align: center;
      //     display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
    }
    &__item {
      padding-right: 0.7rem;
    }
    .nav__link {
      font-size: 1rem;
      color: rgb(162, 152, 152);
    }
  }
  .contact {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__list {
      gap: 2rem 1.2rem;
      font-size: 1.2rem;
    }
  }
 
  .social-icons,
  .copyright {
    //   margin: 1rem 0;
    font-size: 0.5rem;
  }
  .projects__item {
    width: 50%;
  }
  .about__bio-image p {
    border: 2px solid white;
    width: 80%;
    height: 10rem;
    overflow: auto;
    margin-left: 5rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    // border: 2px solid white;
  }
  .about__job {
    width: 80%;
    height: 15rem;
    // margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
    //   margin: 0 1rem;
    overflow: auto;
    border: 2px solid white;
  }
  .projects__item{
    width: 33%;
}
}
@include media-lg {
  .nav {
    padding: 0.2rem;
  

    &__list {
      text-align: center;
      //     display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
    }
    &__item {
      padding-right: 0.7rem;
    }
    .nav__link {
      font-size: 1.8rem;
      color: rgb(136, 129, 129);
    }
  }
  .contact {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__list {
      gap: 2rem 1.2rem;
      font-size: 1.2rem;
    }
  }
  .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 1rem;
  }

  .about__bio-image p {
    border: 2px solid white;
    //   width: 90%;
    height: 10rem;
    overflow: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about__job {
    width: 100%;
    height: 15rem;
    //   margin-left: 4rem;
    font-size: 1rem;
    line-height: 1rem;
    //   margin: 0 1rem;
    border: 2px solid white;
    overflow: auto;
  }
  .about__container {
    width: 80%;
  }

  .projects__item {
    width: 33%;
  }
}
@include media-xl {
    .nav {
      padding: 0.2rem;
      display: flex;
      justify-content:end;

      &__list {
        text-align: center;
        //     display: flex;
        //   flex-direction: column;
        //   align-items: flex-start;
      }
      &__item {
        padding-right: 0.7rem;
      }
      .nav__link {
        font-size: 1.8rem;
        // color: white;
      }
    }
    .contact {
      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      &__list {
        gap: 2rem 1.2rem;
        font-size: 1.2rem;
      }
    }

    // .projects__item {
    //   width: 100%;
    // }
    .about__bio-image p{
      border: 2px solid white;
      width: 90%;
      height: 10rem;
      overflow: auto;
      margin-left: 4rem;
      margin-right: 4rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .about__job {
      width: 100%;
      height: 11rem;
    //   margin-left: 4rem;
      font-size: 1rem;
      line-height: 1.5rem;
    //   margin: 0 1rem;
    border: 2px solid white;
overflow: auto;
    }
    .about__container{
        width: 80%;
    }
   
    .projects__item{
        width: 16%;
    }
    .social-icons,
  .copyright {
    margin: 1rem 0;
    font-size: 1rem;
  }
  }
