// COLOR

$primary_color:rgb(225, 23, 127);
$second_color:rgb(45, 17, 32);
$third_color:rgb(81, 156, 160);
$text_color:rgb(49, 58, 58);

// FONT

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

//****İMG

// $main-bgImg-path:"../img/bg-1.jpg";